mixin blog(title, textInfo,img,textDescr,button)
	.blog
		h2.blog__title #{title}
		.blog__text-info 
			p #{textInfo}
		.blog__img
			img(src=img)
		.blog__text-descr
			p #{textDescr}
		.blog__column 
			a(href="#").button.button--blog #{button} 
			+social('whatsapp','instagram','twitter','facebook-f')

mixin social(...arg) 
	ul.social
		each item in arg
			li.social__item 
				a.social__link
					img(src="./../img/icons/social/" + item + ".svg")

mixin posts(img,title,textInfo)
	.posts 
		.posts__img 
			img(src=img)
		h3.posts__title #{title}
		.posts__text 
			p #{textInfo}

mixin instagram(...arg)
	ul.instagram__list
		each item in arg 
			li.instagram__item 
				a.instagram__link(href="!#")
					img(src="./../img/instagram/insta-" + item + ".jpg")